<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.itmro.jira.dao.TbJiraGroupMapper">
	<resultMap id="BaseResultMap" type="com.sf.itmro.jira.model.TbJiraGroup">
		<id column="group_id" property="groupId" jdbcType="VARCHAR" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="create_id" property="createId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		group_id, group_name, create_id, create_time, remark
	</sql>
	<select id="selectByGroupName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_jira_group
		where group_name = #{groupName,jdbcType=VARCHAR}
	</select>
	<insert id="insertSelective" parameterType="com.sf.itmro.jira.model.TbJiraGroup">
		insert into tb_jira_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				group_id,
			</if>
			<if test="groupName != null">
				group_name,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				#{groupId,jdbcType=VARCHAR},
			</if>
			<if test="groupName != null">
				#{groupName,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>