<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.itmro.git.dao.TbGitRespMapper">
	<resultMap id="BaseResultMap" type="com.sf.itmro.git.model.TbGitResp">
		<id column="resp_id" jdbcType="INTEGER" property="respId" />
		<result column="resp_name" jdbcType="VARCHAR" property="respName" />
		<result column="project_id" jdbcType="INTEGER" property="projectId" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="create_id" jdbcType="VARCHAR" property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		resp_id, resp_name, project_id,project_name, create_id, create_time, remark
	</sql>
	<insert id="insertSelective" parameterType="com.sf.itmro.git.model.TbGitResp">
		insert into tb_git_resp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="respId != null">
				resp_id,
			</if>
			<if test="respName != null">
				resp_name,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="respId != null">
				#{respId,jdbcType=INTEGER},
			</if>
			<if test="respName != null">
				#{respName,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sf.itmro.git.model.TbGitResp">
		update tb_git_resp
		<set>
			<if test="respName != null">
				resp_name = #{respName,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where resp_id = #{respId,jdbcType=INTEGER}
	</update>

</mapper>